$right_width: 290px;
$padding15: 15px;

@media only screen and (max-device-width: 450px) {

    .content {
        width: auto;
        -webkit-overflow-scrolling: touch;
    }
    .left {
        display: none;
    }
    .right {
        padding: 35px $padding15;
        float: left;
        width: 290px;
        min-width: 0;
    }
    .modal {
        width: 200px;
        height: 400px;
    }
    .name {
        width: 100%;
    }
    .mobile {
        width: 130px;
    }
    #welcome {
        width: 100%;
        width: auto;
        left: 15px;
        line-height: 150%;
        padding-bottom: 30px;
    }
    #account {
      font-size: 36px;
        line-height: 100%;
        position: absolute;
        top: -30px;
        margin-bottom: 30px;
    }
    .button_holder {
        width: 290px;
        height: 50px;
        position: absolute;
        bottom: 0;
        margin-left: 50%;
        transform: translate(-50%);
        .button {
            position: relative;
            left: 25px; //half of arrow div
            bottom: -25px;
        }
    }
    #month {
        width: 50px;
    }
    #year {
        width: 100px;
    }
}
