@import url('//fonts.googleapis.com/css?family=Karla');

@import "handheld";

$height: 552px;
$background: url('../img/background.png');
$left_panel_img: url("../img/left_panel.png");
$gray: #dcdce1;
$green: #1bfec0;
$white: #FFFFFF;
$violet: #531fc0;

body {
  font-family: "Karla", "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: $background no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hidden {
  display: none;
}

.center {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.modal {
  font-size: 20px;
    width: 300px;
    height: 300px;
    background: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    padding: 0px 30px 0px 30px;
    // display: none;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;

}
.modal span {

}

.body_inactive {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.content {
  width: 778px;
  height: $height;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

.left {
  background: $left_panel_img;
  height: $height;
  width: 307px;
  position: absolute;
  // display: none;
}


.left svg{
  // position: absolute;
  height: 100%;
  width: 100%;
  stroke-width: 2;
}
.green {
  stroke: $green;
}
.violet {
  stroke: $violet;
}
.white {
  stroke: #FFFFFF;
}

.line {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
}
.move_line {
  animation: dash 1s 1 forwards;
  -ms-animation: dash 1s 1 forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


.right {
  height: $height;
  width: 470px;
  min-width: 470px;
  min-height: 100%;
  position: relative;
  float: right;
  background: $white;
  // display: none;
  padding: 50px;
}



.group 			  {
  // width: auto;
  position:relative;
}

.name {
  margin-bottom: 20px;
}
// .title,
.directional,
.gender,
.birth {
  margin-bottom: 50px;
}



// components

.svg_line_top svg {
  position: absolute;
  height: 4px;
  width: 69px;
  top: -1px;
  stroke: $green;
  stroke-width: 4;
}

#account {
  font-size: 48px;
  color: #FFF;
  position: absolute;
  top: -100px;
}

.title {
  line-height: 150%;
  display: block;
  height: 100px;
}

#welcome {
  position: absolute;
  left: (50px+15px);
  top: 50px;
}

input[type='text'] {
  font-size:16px;
  padding:20px 5px 20px 15px;
  position: relative;
  // display:block;
  border:none;
  border-bottom: 2px solid $gray;
}
input:focus, select:focus	{
  outline:none;
}

.name > input[type='text'] {
  width: 100%;
}
.mobile {
  position: relative;
  width: 241px;
}

/* LABEL ======================================= */
label {
  color:#999;
  font-size:11px;
  position:absolute;
  left: 15px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.name label,
.directional label {
  top: 0px;
}
.gender label,
.birth label {
  top: -25px;
}



// /* BOTTOM BARS ================================= */
//
.bar {
  width: 241px;
}
.bar:before, .bar::after 	{
  content:'';
  height:2px;
  width:0;
  bottom:0px;
  position:absolute;
  background:$violet;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar::after {
  right:50%;
}


/* active state */
input:focus ~ .bar:before, input:focus ~ .bar::after,
select:focus ~ .bar:before, select:focus ~ .bar::after {
  width:50%;
}

.directional {
  position: relative;
  width: 113px;
  margin-right: 11px;
}
.directional::after {
  content: "";
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid $gray;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%,-50%);
}

select {
  font-size: 16px;
  padding: 20px 15px 20px 15px;
  background-color: transparent;
  border: none;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
    display: none;
}
select, input[type='text'] {
  border-bottom: 2px solid $gray;
}

.inline {
  display: inline-block;
}

.button {
  // display: none;
  color: #FFFFFF;
  font-size: 12px;
  background-image: -moz-linear-gradient( 0deg, rgb(134,88,235) 0%, rgb(101,42,230) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(134,88,235) 0%, rgb(101,42,230) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(134,88,235) 0%, rgb(101,42,230) 100%);
  box-shadow: 0px 20px 25px 0px rgba(32, 31, 54, 0.15);
  position: absolute;
  width: (237px-50px);
  // min-width: 237px;
  min-height: 50px;
  height: 50px;
  bottom: -25px;
  right: 0px;
  text-align: center;
  line-height: 50px;
}

.arrow {
  position: absolute;
  background: #7841f4;
  height: 50px;
  width: 50px;
  right: -50px;
}

input[type='submit'] {
  // display: none;
}

.pointer {
  cursor: pointer;
}

#day, #month, #year {
  font-size: 16px;
  height: 50px;
  border: 2px solid #dcdce1;
  padding-left: 15px;
}

#day, #month {
  margin-right:  5px;
}

#month, #year {
  width: 130px;
  margin-left: 5px;
}

#day {
  width: 50px;
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  #month{
    padding-top: 14px;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}


.birth div::after{
  content: "\2013";
  color: $gray;
}


.default {
  border: 2px solid #dcdce1;
}
.selected {
  border-color: $green;
}

.radio {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  // border: $border2;
  margin-right: 25px;
}



.check {
  position: absolute;
  // border: $border2;
  background: #FFF;
  height: 15px;
  width: 15px;
  top: 50%;
  transform: translate(50%,-50%);
  right: -1px;
}

.radio_active {
  visibility: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


#male {
  background: url('../img/male.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
}
#female {
  background: url('../img/female.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
}


.tabs {
  // display: none;
  font-size: 11px;
  position: absolute;
  top: 107px;
  right: -25px;
  width: 25px;
  height: 200px;
  color: white;
}
.tab {
  line-height: 150%;
  padding: 15px 0px 45px 10px;
  border-top: 2px solid #555556;
  color: #555556;
}

.tab_active {
  border-top: 2px solid $green;
  color: #FFFFFF;
}
